$bg-blue: #182044;
$basic-blue: #161c35;
$basic-navy: #192144;
$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;
$special-blue-light: #dfe3f0;
$special-grey: #444444;
$basic-blue-light: #1d2e5b;
$special-orange: #ff8d30;
$special-orange-light: #ffa530;
$basic-white: #ffffff;
$basic-lavander-10: #edeff6;
$basic-lavander-20: #e6e8f1;
$basic-lavander-30: #e2e5f2;
$basic-lavander-40: #d4d9eb;
$basic-lavander-50: #e2e5f2;
$basic-red: #f97676;
$basic-green: #81e31e;

$focus: #0f62fe;
