$tablet-width: 768px;
$desktop-width: 1440px;

$padding-mobile-01: 25px;
$padding-mobile-02: 49px;
$padding-tablet-01: 40px;
$padding-tablet-02: 49px;
$padding-tablet-03: 75px;
$padding-desktop-01: 60px;
$padding-desktop-02: 124px;
$padding-desktop-03: 130px;
