.address {
  padding-left: $padding-mobile-01;
  padding-right: $padding-mobile-01;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-left: $padding-tablet-02;
    padding-right: $padding-tablet-02;
    padding-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    padding-left: $padding-desktop-03;
    padding-right: $padding-desktop-03;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.address__wrapper {
  display: flex;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.address__text {
  @include home-page__text-02();
  color: $basic-blue;
  text-transform: uppercase;
}
