.back {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.btn {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  cursor: pointer;
  outline: none;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;

  &.btn--with-icon {
    text-transform: none;
    justify-content: space-between;
  }
}

.btn__icon {
  position: absolute;
  right: 24px;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}

.btn--primary {
  @include button-theme(
    $basic-yellow,
    $basic-yellow,
    $basic-blue-light,
    $button-font-weight-02,
    $special-yellow-dark,
    $basic-blue-light
  );
}

.btn--ghost {
  @include button-theme(
    transparent,
    transparent,
    $basic-blue-light,
    $button-font-weight-02,
    transparent,
    $basic-blue-light
  );

  &:hover {
    color: rgba($basic-blue-light, 0.7);

    svg {
      opacity: 0.7;
    }
  }

  @include button-size (
    0,
    $button-padding-01,
    $button-height-01
  );
}

.btn--secondary {
  @include button-theme(
    $special-blue-light,
    $special-blue-light,
    $basic-blue-light,
    $button-font-weight-02,
    $basic-lavander-10,
    $basic-blue-light
  );
}
