.connection {
  text-align: center;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
  }
}

.connection__heading {
  @include home-page__heading-02();
}

.connection__text {
  @include home-page__text-01();
}

.connection__link {
  color: $basic-yellow;
}
