.country-cards {
  position: relative;
}

.country-cards::before {
  content: '';
  position: absolute;
  left: -35px;
  top: -35px;
  width: 141px;
  height: 141px;
  background-color: $basic-lavander-50;
  border-radius: 20px;
}

.country-cards__item {
  position: relative;
}

.country-cards__item + .country-cards__item {
  margin-top: 10px;
}

.country-cards__inner {
  background-color: $basic-white;
  border-radius: 10px;
  padding: 24px;
}

.country-cards__header {
  @include heading-03();
  color: $basic-blue;
}

.country-cards__desc,
.country-cards__users-num {
  @include text-01();
  color: $special-grey;
  opacity: 0.3;
}
