.country-cards {
  position: relative;
}

.country-cards::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    left: 40px;
    top: -35px;
    width: 141px;
    height: 141px;
    background-color: $basic-lavander-50;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    left: -60px;
    top: -75px;
  }
}

.country-cards__item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.country-cards__item + .country-cards__item {
  margin-top: 10px;
}

.country-cards__item:last-child::after {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    width: 100%;
    height: 81px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, $basic-lavander-10, transparent);
    z-index: 1;
  }
}

.country-cards__image {
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 550px;
    height: auto;
  }
}

.country-cards__inner {
  position: relative;
  background-color: $basic-white;
  border-radius: 10px;
  padding: 24px;
  margin-top: -10px;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    padding: 30px 26px 20px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 28px 20px;
  }
}

.country-cards__flag {
  position: absolute;
  top: -10px;

  @media (min-width: $tablet-width) {
    top: 20px;
    right: 150px;
    z-index: 2;
    width: 70px;
    height: auto;
  }
}

.country-cards__header {
  @include home-page__heading-03();
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }
}

.country-cards__desc,
.country-cards__users-num {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  color: $special-grey;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
  }
}

.country-cards__desc {
  @media (min-width: $tablet-width) {
    margin: 0 0 20px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 26px 0;
  }
}

.country-cards__users-num {
  position: absolute;
  top: 28px;
  right: 24px;

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.country-cards__users-num svg {
  fill: $special-grey;
  opacity: 0.3;
}
