.filter-country {
  position: relative;
  z-index: 1;
  margin-top: -30px;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: $basic-lavander-30;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
