@mixin form-page__fold($padding-bottom) {
  position: relative;
  padding-bottom: $padding-bottom;
  margin-top: -30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.form-page__fold--01 {
  @include form-page__fold(50px);
  background-color: $special-blue-light;
  color: $basic-blue;
}

.form-page__fold--02 {
  @include form-page__fold(44px);
  background-color: $basic-lavander-40;
  color: $basic-blue;
}

.form-page__fold--02::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: -30px;
  left: 0;
  background-color: $basic-lavander-40;
}

.form-page__traveler {
  margin: 28px 0 60px;
}
