.header {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  left: 0;
  height: 73px;
  background-color: transparent;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    height: 132px;
  }

  @media (min-width: $desktop-width) {
    height: 90px;
  }
}

.header--on-scroll {
  background-color: $basic-white;
  color: $basic-blue;
}

.header__wrapper {
  padding: 0 25px;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.header--opened {
  background-color: $basic-white;
  color: $basic-blue;
}

.header__action {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
