.logo svg,
.logo path {
  fill: $basic-white;
}

.logo__image {
  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 50px;
  }
}
