.offers {
  position: relative;
  margin: 0;
}

.offers--compact {
  .offers__item {
    display: block;
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      padding: 22px 0;
      border-bottom: 1px solid #e1e3e9;
      border-top: 1px solid #e1e3e9;
    }
  }

  .offers__term {
    margin-bottom: 0;
    padding-top: 8px;

    @media (min-width: $tablet-width) {
      padding: 0;
      border: none;
    }
  }

  .offers__item:last-of-type .offers__term {
    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  .offers__desc {
    padding-bottom: 8px;

    @media (min-width: $tablet-width) {
      padding: 0;
      border: none;
    }
  }
}

.offers__item {
  @include home-page__text-01();
  display: grid;
  grid-template-columns: auto 44px;
  grid-template-rows: auto auto;


  @media (min-width: $tablet-width) {
    grid-template-columns: 90px 2fr 1fr;
    grid-template-rows: auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 90px 2fr 1fr;
  }
}

.offers__term {
  border-top: 1px solid #e1e3e9;
  padding-top: 13px;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    margin-bottom: 0;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.offers__item:last-of-type .offers__term {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #e1e3e9;
  }
}

.offers__num {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  justify-self: end;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $basic-white;
  margin-top: 3px;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    justify-self: start;
    grid-column: 1 / 2;
    width: 68px;
    height: 68px;
    margin-top: 0;
  }
}

.offers__item:first-of-type .offers__num {
  background-color: $special-orange;
}

.offers__item:nth-of-type(2) .offers__num {
  background-color: $special-yellow-dark;
}

.offers__item:last-of-type .offers__num {
  background-color: $basic-yellow;
}

.offers__desc {
  position: relative;
  margin: 0;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    justify-self: end;
    order: 3;
    padding-right: 35px;
    padding-bottom: 0;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 161px;
  }
}

.offers__item:last-of-type .offers__desc {
  border-bottom: 1px solid #e1e3e9;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}
