.pagination {
  position: relative;
  width: 100%;
  background-color: $basic-white;
  height: 51px;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    background-color: #edeff6;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 28px;
    padding-right: 16px;
  }
}

.pagination__count-list {
  list-style: none;
  display: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.pagination__count-button {
  @include button-theme (
    transparent,
    transparent,
    $basic-blue-light,
    $button-font-weight-02,
    transparent,
    transparent,
  );
  @include button-size (
    50%,
    10px,
    $button-height-02,
  );

  &:hover {
    color: rgba($basic-blue-light, 0.6);
  }

  &:active {
    background-color: $basic-yellow;
    color: $basic-blue-light;
  }

  width: 50px;
  font-size: 20px;
  line-height: 20px;
}


.pagination__count-button--active {
  background-color: $basic-yellow;
  pointer-events: none;
}

.pagination__button {
  @include button-theme (
    transparent,
    transparent,
    transparent,
    $button-font-weight-01,
    transparent,
    $basic-blue-light,
  );
  @include button-size (
    0,
    10px,
    $button-height-02,
  );

  width: 49%;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 100px;
  }
}

.pagination__button--forward {
  transform: rotate(180deg);
}
