.quote {
  position: relative;
}

.quote__text-01 {
  @include home-page__text-01;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.quote__text-02 {
  @include home-page__text-02;
}
