.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.socials--inverse .socials__item {
  background-color: $basic-yellow;

  &:hover {
    background-color: $special-yellow-dark;

    svg {
      opacity: 1;
    }
  }

  &:active {
    background-color: $special-yellow-dark;

    svg {
      opacity: 0.3;
    }
  }
}

.socials__item {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: $basic-white;
  border-radius: 50%;

  &:hover {
    background-color: $basic-white;

    svg {
      opacity: 0.6;
    }
  }

  &:active {
    background-color: $basic-white;

    svg {
      opacity: 0.3;
    }
  }
}

.socials__link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;


  &:focus {
    @include focus-outline;
  }
}

.socials__link svg {
  fill: $basic-blue;
}
