.steps__header {
  padding-left: $padding-mobile-01;
  padding-right: $padding-mobile-01;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-left: $padding-tablet-03;
    padding-right: $padding-tablet-03;
  }

  @media (min-width: $desktop-width) {
    padding-left: $padding-desktop-03;
    padding-right: $padding-desktop-03;
  }
}

.steps__item {
  background-color: $basic-white;
  border-radius: 10px;
  padding: 25px;

  @media (min-width: $tablet-width) {
    border-radius: 30px;
    padding: 48px 40px 56px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 160px;
    border-radius: 60px;
  }
}

.steps__item + .steps__item {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }
}

.steps__heading {
  color: $basic-blue-light;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
  }
}

.steps__item-header {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 581px 1fr;
  }
}

.steps__desc {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
  color: $special-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.steps__inner {
  padding-left: $padding-mobile-01;
  padding-right: $padding-mobile-01;

  @media (min-width: $tablet-width) {
    padding-left: $padding-tablet-03;
    padding-right: $padding-tablet-03;
  }

  @media (min-width: $desktop-width) {
    padding-left: $padding-desktop-01;
    padding-right: $padding-desktop-01;
  }
}

.steps__calendar {
  margin-bottom: 20px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
    margin-top: 0;
  }
}

.steps__progress {
  justify-self: end;
  margin: 0;
  padding-left: 0;
  padding-right: 60px;
}

.steps__button-set {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.steps__button-01 {
  @include button-size(
    $button-radius-02,
    4px 0 0 0,
    $button-height-01
  );
  width: 100%;
  font-size: 17px;
  line-height: 30px;

  svg {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include button-size(
      $button-radius-02,
      29px 75px 27px 33px,
      $button-height-04
    );
    height: $button-height-04;
    width: auto;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;

    svg {
      display: block;
    }

    &.btn {
      text-transform: none;
      letter-spacing: unset;
    }
  }
}

.steps__button-02 {
  width: 100%;
  font-size: 17px;
  line-height: 30px;

  svg {
    display: none;
  }

  @media (min-width: $tablet-width) {
    height: $button-height-04;
    width: auto;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;

    svg {
      display: block;
    }

    &.btn {
      text-transform: none;
    }
  }
}

.steps__button-icon-02 {
  margin-right: 19px;
}

.steps__step1-inner {
  @media (min-width: $tablet-width) {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-top: 1px solid #e1e3e9;
    padding-top: 30px;
    padding-bottom: 33px;
  }
}

.steps__step1-input:nth-child(1) {
  @media (min-width: $tablet-width) {
    padding-top: 26px;
    border-top: 1px solid #e1e3e9;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    border: none;
  }
}

.steps__step1-input:nth-child(2) {
  @media (min-width: $tablet-width) {
    order: 2;
    padding-top: 25px;
    border-top: 1px solid #e1e3e9;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    border-top: none;
  }
}

.steps__step1-input:last-child {
  @media (min-width: $desktop-width) {
    justify-self: end;
  }
}

.steps__step2-inner {
  position: relative;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    border-top: 1px solid #e1e3e9;
    margin-bottom: 50px;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #e1e3e9;
      top: 0;
      right: 142px;
      z-index: 2;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px;
    margin-bottom: 62px;

    &::before {
      height: 540px;
      right: 230px;
    }
  }
}

.steps__status {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 48px;
  z-index: 3;

  circle {
    stroke: #cbced9;
    fill: transparent;
  }

  @media (min-width: $tablet-width) {
    position: static;
    margin: 32px 19px;

    circle {
      fill: $basic-white;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 38px;
    margin-right: 38px;
  }
}

.steps__status--active circle {
  stroke: $basic-blue-light;
  fill: $basic-blue-light;
}

.steps__step1-input + .steps__step1-input {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }
}

.steps__step2-inner > * + *,
.steps__sidebar > * + * {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
  }
}

.steps__add-country-wrapper {
  display: flex;
  position: relative;
}

.steps__add-country {
  @include button-theme(
    #EDEFF6,
    #EDEFF6,
    $basic-blue-light,
    $button-font-weight-01,
    #EDEFF6,
    rgba(#000, 0.3)
  );
  font-size: 14px;
  line-height: 18px;
  border: none;

  @include button-size(
    4px,
    10px 10px 8px,
    42px
  );

  flex-grow: 1;

  &.btn {
    justify-content: flex-start;
  }

  &:hover {
    background-color: #dfe3f0;
  }

  &:active {
    color: $basic-blue-light;

    svg {
      fill: rgba(#000000, 0.1);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    @include button-size(
      4px,
      27px 25px 23px,
      70px
    );
  }
}

.steps__add-country-icon {
  position: absolute;
  top: 14px;
  right: 14px;
}

.steps__flag-wrapper {
  position: relative;
  width: 53px;
  height: 42px;
  border: 1px solid #cbced9;
  border-radius: 4px;
  padding: 9px;
  margin-left: -1px;

  @media (min-width: $tablet-width) {
    border: none;
    width: 120px;
    height: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 189px;
  }
}

.steps__flag-wrapper--empty {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.steps__delete {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 21px;
  height: 21px;
  background-color: #edeff6;
  border: 1px solid #edeff6;
  border-radius: 50%;

  &:hover svg {
    opacity: 0.3;
  }

  &:active svg {
    opacity: 0.1;
  }

  &:focus {
    @include focus-outline("border");
  }

  @media (min-width: $tablet-width) {
    top: 25px;
    right: 0;
    background-color: $basic-white;
    border-color: $basic-white;
  }
}

.steps__arrow {
  position: absolute;
  bottom: -16px;
  right: 48px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.steps__step3-inner {
  position: relative;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    border-top: 1px solid #e1e3e9;
    margin-bottom: 47px;
    padding-right: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 80px;
    margin-bottom: 58px;
    padding-right: 270px;
  }
}

.steps__step3-input + .steps__step3-input {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 51px;
  }
}

.steps__line {
  position: absolute;
  top: 4px;
  left: -14px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.steps__line-country {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 45px;
    right: -4px;
  }

  @media (min-width: $desktop-width) {
    top: 89px;
    right: 210px;
  }
}
