.switcher {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 73px;
  width: 100%;
  background-color: $basic-white;
  padding: 24px;

  @media (min-width: $tablet-width) {
    top: 132px;
    padding: 97px;
  }
}

.switcher--opened {
  display: block;
}

.switcher__menu {
  margin: 45px 0 51px 0;
}

.switcher__auth {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.switcher__contacts {
  margin: 51px 0 30px 0;
}

.switcher__socials {
  margin: 0 0 30px 0;
}

