.transport--edit {
  position: relative;
  padding: 16px;
  border: 1px solid $basic-grey-01;
  border-radius: 10px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 26px;
  }
}

.transport__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.transport__list--left {
  justify-content: left;
}

.transport__header {
  text-transform: uppercase;
  color: $basic-blue-light;
  margin: 0;
  position: absolute;
  top: -16px;
  padding: 5px 14px;
  background-color: $basic-lavander-10;

  @media (min-width: $tablet-width) {
    top: auto;
    bottom: -16px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    bottom: -16px;
  }
}

.transport__button {
  @include button-theme(
    $basic-white,
    $basic-white,
    transparent,
    $button-font-weight-02,
    $basic-white,
    #d9d9d9
  );
  @include button-size(
    50%,
    0,
    $button-height-01
  );
  position: relative;
  width: $button-height-01;

  &:hover {
    box-shadow: 0 2px 6px rgba(22, 28, 53, 0.17);

    svg {
      fill: #b2b2b2;
    }

    &.transport__button--active svg {
      fill: $basic-blue-light;
      opacity: 0.7;
    }

    .transport__tooltip {
      display: block;
      z-index: 200;
    }
  }

  &:active {
    background-color: $basic-lavander-30;

    svg {
      fill: $basic_blue_light;
      opacity: 0.1;
    }

    &.transport__button--active svg {
      fill: $basic-blue-light;
      opacity: 0.3;
    }
  }
}

.transport__button--active svg {
  fill: $basic-blue-light;
}

.transport__button--small {
  width: 30px;
  min-height: 30px;

  svg {
    max-height: 18px;
  }

  @media (min-width: $tablet-width) {
    width: 43px;
    min-height: 43px;

    svg {
      max-height: 30px;
    }
  }
}

.transport--special {
  .transport__list {
    justify-content: flex-start;

    @media (min-width: $tablet-width) {
      flex-direction: column;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
    }
  }

  .transport__button {
    width: 32px;
    min-height: 32px;
    background-color: #edeff6;

    svg {
      max-height: 18px;
    }

    @media (min-width: $tablet-width) {
      background-color: transparent;
    }
  }
}

.transport__tooltip {
  display: none;
  position: absolute;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  bottom: -65px;
  padding: 18px 25px;
  background-color: $basic-blue;
  color: $basic-white;
  border-radius: 4px;
}

.transport__tooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid $basic-blue;
  bottom: 100%;
  left: calc(50% - 6px);
}
