@mixin form-page__fold($padding-bottom) {
  position: relative;
  padding-bottom: $padding-bottom;
  margin-top: -30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (min-width: $desktop-width) {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.form-page__fold--01 {
  background-color: transparent;
  color: $basic-blue;
  padding-top: 24px;
  padding-bottom: 64px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
    padding-bottom: 95px;
  }
}

.form-page__fold--02 {
  @include form-page__fold(50px);
  background-color: $special-blue-light;
  color: $basic-blue;

  @media (min-width: $tablet-width) {
    padding-bottom: 106px;
  }
}

.form-page__fold--03 {
  @include form-page__fold(44px);
  background-color: $basic-lavander-40;
  color: $basic-blue;
}

.form-page__fold--03::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: -30px;
  left: 0;
  background-color: $basic-lavander-40;

  @media (min-width: $desktop-width) {
    height: 60px;
    bottom: -60px;
  }
}

.form-page__layout {
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 124px;
    padding-right: 124px;
  }
}

.form-page__steps {
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}
