.home-page {
  position: relative;
  z-index: 1;
}

@mixin home-page__heading-01 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
  }
}

@mixin home-page__heading-02 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: $special-orange;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
  }
}

@mixin home-page__heading-03 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  font-style: normal;
  color: $basic_blue_light;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

@mixin home-page__text-01 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
  }
}

@mixin home-page__text-02 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  font-style: normal;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}

@mixin home-page__fold($padding-top) {
  position: relative;
  padding-top: $padding-top;
  margin-top: -30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    margin-top: -60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.home-page__fold--01 {
  position: relative;
  z-index: 8;
  background-color: $basic-blue;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    background-color: $bg-blue;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-blue;
  }
}

.home-page__fold--02 {
  @include home-page__fold(30px);
  z-index: 7;
  background-color: $basic-navy;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 130px;
  }
}

.home-page__fold--03 {
  @include home-page__fold(80px);
  z-index: 6;
  background-color: $basic-lavander-10;

  @media (min-width: $tablet-width) {
    padding-top: 176px;
  }
}

.home-page__fold--04 {
  @include home-page__fold(80px);
  z-index: 5;
  background-color: $basic-navy;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 147px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 235px;
  }
}

.home-page__fold--05 {
  @include home-page__fold(80px);
  z-index: 4;
  background-color: $basic-lavander-10;

  @media (min-width: $tablet-width) {
    padding-top: 134px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 175px;
  }
}

.home-page__fold--06 {
  @include home-page__fold(80px);
  z-index: 3;
  background-color: $basic-navy;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 139px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 208px;
  }
}

.home-page__fold--07 {
  @include home-page__fold(65px);
  z-index: 2;
  background-color: $basic-yellow;

  @media (min-width: $tablet-width) {
    padding-top: 102px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 116px;
  }
}

.home-page__button-primary {
  @include button-size (
    $button-radius-01,
    $button-padding-03,
    $button-height-03
  );
  width: 100%;
  font-size: 18px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    @include button-size (
      $button-radius-02,
      $button-padding-04,
      $button-height-04
    );
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}
