body {
  @include text-01();
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  color: $special-grey;
  background-color: #edeff6;
  margin: 0;
}

html {
  @include text-01();
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
