body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  @include text-01();
  color: $special-grey;
  background-color: #EDEFF6;
  margin: 0;
}

html {
  box-sizing: border-box;
  @include text-01();
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
