$basic-blue: #161C35;
$basic-yellow: #FFD74B;
$special-yellow-dark: #FFBD30;
$special-blue-light: #DFE3F0;
$special-grey: #444444;
$basic-blue-light: #1D2E5B;
$special-orange: #FF8D30;
$basic-white: #FFFFFF;
