.contacts {}

.contacts__link {
  @include text-02();
  color: $basic-blue;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts--inverse {
  .contacts__link {
    color: $basic-yellow;
  }
}


