.hero {
  background-color: $basic-blue;
}

.hero__quote {
  color: $basic-white;
}

.hero__steps {
  color: $basic-blue;
  padding: 0;
}

.hero__steps-item {
  @include text-02();
  padding: 24px;
}

.hero__steps-item::marker {
  display: none;
}

.hero__steps-item:first-child {
  background-color: $special-orange;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hero__steps-item:nth-child(2) {
  background-color: #FFA530;
}

.hero__steps-item:nth-child(3) {
  background-color: $special-yellow-dark;
}

.hero__steps-item:last-child {
  background-color: $basic-yellow;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.hero__steps-number {
  @include text-02();
  color: $basic-white;
}
