.address {
  padding-left: $padding-mobile-01;
  padding-right: $padding-mobile-01;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-left: $padding-tablet-03;
    padding-right: $padding-tablet-03;
    padding-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 283px;
    padding-right: $padding-desktop-03;
    padding-bottom: 61px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.address__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.address__icon {
  margin-right: 16px;

  @media (min-width: $tablet-width) {
    margin-right: 26px;
    width: 68px;
    height: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 31px;
    width: 90px;
    height: 90px;
  }
}

.address__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: $basic-blue-light;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.address__button {
  @include button-theme(
    transparent,
    $basic-navy,
    $basic-blue-light,
    $button-font-weight-02,
    $special-yellow-dark,
    $basic-blue-light
  );

  &.btn--with-icon {
    text-transform: none;
    justify-content: space-between;
  }

  &:hover {
    background-color: $basic-navy;
    border-color: $basic-navy;
    color: $basic-white;

    svg {
      fill: $basic-white;
    }
  }

  &:active {
    background-color: $basic-navy;
    border-color: $basic-navy;
    color: rgba($basic-white, 0.3);

    svg {
      fill: rgba($basic-white, 0.3);
    }
  }

  &:active:focus {
    border-color: $basic-navy;
  }

  &:hover:focus {
    border-color: $basic-navy;
  }

  &:focus {
    @include focus-outline("reset");
    @include focus-outline("outline");
  }
}
