.companions {
  position: relative;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 134px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

.companions::before {
  content: "";
  position: absolute;
  left: -20px;
  top: -30px;
  width: 132px;
  height: 132px;
  background-color: $basic-blue;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    top: 0px;
    left: 40px;
    width: 212px;
    height: 212px;
  }
}

.companions__back-image {
  position: absolute;
  z-index: -1;
}

.companions__back-image--01 {
  top: 265px;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 285px;
    top: 0;
    right: 74px;
    left: auto;
  }

  @media (min-width: $desktop-width) {
    top: 240px;
    left: 210px;
  }
}

.companions__back-image--02 {
  top: -30px;
  right: 25px;

  @media (min-width: $tablet-width) {
    top: 325px;
    left: 40px;
    right: auto;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 500px;
  }
}

.companions__inner {
  padding-left: $padding-mobile-02;
  padding-right: $padding-mobile-02;
  position: relative;
  margin-bottom: 54px;

  @media (min-width: $tablet-width) {
    padding-left: $padding-tablet-03;
    padding-right: $padding-tablet-03;
    margin-bottom: 59px;
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: $padding-desktop-03;
    padding-right: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-bottom: 85px;
    padding-top: 0;
  }
}

.companions__heading {
  @include home-page__heading-02;
  margin-bottom: 19px;
}

.companions__text-01 {
  @include home-page__text-01();
  max-width: 308px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    max-width: 70%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
    max-width: 427px;
  }
}

.companions__text-02 {
  @include home-page__text-02();
  max-width: 308px;

  @media (min-width: $tablet-width) {
    max-width: 50%;
  }
}

.companions__cards {
  margin-bottom: 20px;
  padding-left: $padding-mobile-01;
  padding-right: $padding-mobile-01;

  @media (min-width: $tablet-width) {
    padding-left: $padding-tablet-03;
    padding-right: $padding-tablet-03;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: $padding-desktop-01;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin-bottom: 0;
  }
}

.companions__cards > * + * {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.companions__button-wrapper {
  padding-left: $padding-mobile-01;
  padding-right: $padding-mobile-01;

  @media (min-width: $tablet-width) {
    padding-left: $padding-tablet-03;
    padding-right: $padding-tablet-03;
  }

  @media (min-width: $desktop-width) {
    padding-left: $padding-desktop-03;
    padding-right: 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
