.directions {
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
    background-image: url("../../img/flags-back.png");
    background-repeat: no-repeat;
    background-size: 288px auto;
    background-position: top right 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 88px;
    padding-bottom: 138px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 172px;
    background-position: bottom 87px right 60px;
    padding-left: 130px;
  }
}

@media (min-width: 768px) and (min-resolution: 2dppx) {
  .directions {
    background-image: url("../../img/flags-back@2x.png");
    background-size: 288px auto;
  }
}

.directions__inner {
  padding-left: $padding-mobile-02;
  padding-right: $padding-mobile-02;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-left: $padding-tablet-03;
    padding-right: $padding-tablet-03;
    margin-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: $padding-desktop-01;
    margin-left: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 98px;
  }
}

.directions__heading {
  @include home-page__heading-02;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.directions__text {
  @include home-page__text-01();
  max-width: 308px;

  @media (min-width: $tablet-width) {
    max-width: 55%;
  }

  @media (min-width: $desktop-width) {
    max-width: 378px;
  }
}

.directions__country-cards {
  padding-left: $padding-mobile-01;
  padding-right: $padding-mobile-01;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-left: $padding-tablet-03;
    padding-right: $padding-tablet-03;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-bottom: 0;
  }
}

.directions__button-wrapper {
  padding-left: $padding-mobile-01;
  padding-right: $padding-mobile-01;

  @media (min-width: $tablet-width) {
    padding-left: $padding-tablet-03;
    padding-right: $padding-tablet-03;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: $padding-desktop-03;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}
